.block .website {
    padding-right: 50px;
    padding-bottom: 20px;
}
.shipping-address-from {
    padding-left: 25px;
    padding-right: 25px;
}
.price-nav .box-tocart {
    margin: 0 0 0;
}
.price-nav .box-tocart .fieldset:last-child{
    margin-bottom: 0;
}
.store-shipping > .title strong{
    font-size: 1.8rem;
    font-weight: 300;
    margin: 0;
}
.store-shipping > .title {
    border-bottom: 1px solid #cccccc;
    padding: 10px 40px 10px 0;
    cursor: pointer;
    display: block;
    text-decoration: none;
    margin-bottom: 0;
    position: relative;
}
.store-shipping.active > .title:after {
    content: '\e621';
}
.store-shipping > .title:after {
    position: absolute;
    right: 0;
    top: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    line-height: 12px;
    color: inherit;
    content: '\e622';
    font-family: 'luma-icons';
    margin: 3px 0 0;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

main.page-main .product-info-main .product-info-price .label-price-info {
    color: #387c2b;
}
